﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="../Master/MasterPage.master" CodeFile="testAddress.aspx.cs" Inherits="TEST_testAddress" %>

<%@ Register src="../UserControl/Address/ucNewAddress.ascx" tagName="Address" tagPrefix="uct" %>
<asp:Content runat="server" ID="testContent" ContentPlaceHolderID="body">
    <uct:Address runat="server" ID="address"/>
</asp:Content>