﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ReportLoad.aspx.cs" Inherits="Report_ReportLoad" MasterPageFile="../Master/MasterPage.master" %>

<asp:Content runat="server" ID="contentReport" ContentPlaceHolderID="body">
    <asp:LinkButton runat="server" ID="lnkLoadMegaReport" OnClick="lnkLoadMegaReport_OnClick"><div class="btnBlueLong">отчислено зачислено 15ноя</div></asp:LinkButton>
    <br/>
    <asp:LinkButton runat="server" ID="lnkLoadMegaReport2" OnClick="lnkLoadMegaReport2_OnClick"><div class="btnBlueLong">Школьники в доп-обр</div></asp:LinkButton>
</asp:Content>