﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucProfileFilter.ascx.cs" Inherits="UserControl_Filter_ucProfileFilter" %>
<table>
    <tr>
        <td class="tdx">
            <span>Направление:</span>
            </td><td>
            <div class="input">
            <asp:DropDownList runat="server" ID="ddlProgram" DataTextField="Name" DataValueField="ProgramId" AutoPostBack="true" OnSelectedIndexChanged="SelectedIndex_Change" CssClass="input" />
            </div>
        </td>
    </tr>
</table>
