﻿html, body, form#aspnetForm, center, table.main {
    height: 100%;
    min-height: 100%;
}

body {
    background-image: url("../Images/bg.png");
    margin: 0px;
}

table.main {
    background-image: url("../Images/bgTL.png");
    background-repeat: repeat-y;
    border-collapse: collapse;
}

td.mainTl
{
    width: 270px;
    height: 139px;
    text-align: center;
    vertical-align: middle;
}

td.mainI
{
    background-color: rgb(255, 255, 255);
    width: 1060px;
    min-height: 600px;
    border-width: 1px;
    border-color: Black;
    border-style: solid;
    vertical-align: top;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

H1
{
    font-size: 34px;
    font-family: Arial;
    font-style: normal;
    font-weight: lighter;
    letter-spacing: 0px;
    color: rgb(70, 103, 161);
}

a
{
    text-decoration: none;
    color: White;
}

div.btnRed, div.btnBlue, div.btnBlueLong, div.btnBlueShort, div.btnBlueExit, div.btnRedShort
{
    width: 153px;
    height: 22px;
    
    color: White;
    text-align: center;
    line-height: 22px;
}

div.btnBlueLong
{
    width: 271px;
}


div.btnBlueShort, div.btnRedShort
{
    width: 90px;
    height: 20px;
    line-height: 20px;
}

div.btnOpen
{
    height: 20px;
    width: 20px;
    background-image: url("../Images/open.png");
    background-repeat: no-repeat;
    float: left;
}

div.btnOpen1
{
    height: 20px;
    width: 20px;
    background-image: url("../Images/add_sheet-40-40.png");
    background-repeat: no-repeat;
    float: left;
}

div.btnAnnul
{
    height: 20px;
    width: 20px;
    background-image: url("../Images/annul.png");
    background-repeat: no-repeat;
    float: left;
}

div.btnZach
{
    height: 20px;
    width: 20px;
    background-image: url("../Images/zachislit.png");
    background-repeat: no-repeat;
    float: left;
}

div.btnReserv
{
    height: 20px;
    width: 20px;
    background-image: url("../Images/rezerv.png");
    background-repeat: no-repeat;
    float: left;
}

div.btnPrig
{
    height: 20px;
    width: 20px;
    background-image: url("../Images/priglasit.png");
    background-repeat: no-repeat;
    float: left;
}

div.btnDoc
{
    height: 20px;
    width: 20px;
    background-image: url("../Images/document_podan.png");
    background-repeat: no-repeat;
    float: left;
}

div.btnEdit
{
    height: 32px;
    width: 32px;
    background-image: url("../Images/edit_smth.png");
    background-repeat: no-repeat;
}

div.btnDelete
{
    height: 32px;
    width: 32px;
    background-image: url("../Images/delete_smth.png");
    background-repeat: no-repeat;
}

div.btnBlue, div.btnBlueLong, div.btnBlueShort, div.btnBlueExit
{
    -moz-border-radius: 5px;
    /* Для Firefox 3 */
    -webkit-border-radius: 5px;
    /* Для Safari 4 и Chrome */
    border-radius: 5px;
    /* Для современных браузеров */
    background-color: RGB(40, 84, 147);
    /*background-image: url("../Images/bg-button.png");*/
    background-repeat: no-repeat;
}

div.btnRed, div.btnRedShort
{
    -moz-border-radius: 5px;
    /* Для Firefox 3 */
    -webkit-border-radius: 5px;
    /* Для Safari 4 и Chrome */
    border-radius: 5px;
    /* Для современных браузеров */
    background-color: RGB(137, 43, 53);
    /*background-image: url("../Images/bg-button.png");*/
    background-repeat: no-repeat;
}

div.input, div.inputShort, div.inputXShort, div.inputLong
{
    width: 132px;
    height: 23px;
    -moz-border-radius: 5px;
    /* Для Firefox 3 */
    -webkit-border-radius: 5px;
    /* Для Safari 4 и Chrome */
    border-radius: 5px;
    /* Для современных браузеров */
    background-repeat: no-repeat;
    padding-top: 6px;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border-style: none;
    
}

.hr
{
    color: Gray;
}

.addresslistItem
{
    width: 200px;
}

li.autocomplete_listItem1:hover
{
    background-color: white;
    width: 200px;
    
}

li.autocomplete_listItem1
{
    background-color: white;
    width: 200px;
}

.addresslist
{
    width: 350px !important;
    text-align: left;
    color: windowtext;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-top-color: buttonshadow;
    border-right-color: buttonshadow;
    border-bottom-color: buttonshadow;
    border-left-color: buttonshadow;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
    visibility: hidden;
    position: relative;
    cursor: default;
    background-color: window;
    z-index: 100001 !important;
    
}

.input, .inputShort, .ajax__combobox_textboxcontainer input, .inputXShort, .inputLong
{
    width: 130px;
    border-color: rgb(224, 224, 224);
    border-style: solid;
}

.inputLong
{
    width: 650px;
}

div.inputShort
{
    width: 130px;
}

div.inputXShort
{
    width: 130px;
}

.inputShort, .ajax__combobox_textboxcontainer input
{
    width: 129px;
}

.inputXShort
{
    width: 102px;
}

.ajax__combobox_textboxcontainer input
{
    /*margin-top: -9px !important;*/
}

.ajax__combobox_buttoncontainer a
{
    width: 15px;
}

div.sun
{
    background-image: url("../Images/sun.png");
    width: 117px;
    height: 114px;
    position: relative;
    margin-left: 50px;
}

div.headerPanel
{
    font-size: 13pt;
    padding-bottom: 15px;
}

div.headerPanelBig
{
    font-size: 17pt;
    padding-bottom: 20px;
}

td.tdx
{
    vertical-align: middle;
    line-height: 16px;
    width: 90px;
    padding-left: 5px;
}

td.tdxaddress
{
    vertical-align: middle;
    width: 90px;
    text-align: left;
}

.ajax__combobox_buttoncontainer button
{
    width: 20px !important;
    height: 20px !important;
}

.ajax__combobox_itemlist
{
    position: relative;
}

.ajax__combobox_itemlist1
{
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
}

.modalPopup, #ctl00_body_popupSelectUdod
{
    position: relative;
    /*background-color: rgb(220,220,255) !important;*/
}

#tblFindUdod .tdx, tblZ0045 .tdx
{
    width: 300px;
}

.bgControl
{
    background-color: rgb(224, 224, 224);
    border-style: inset;
}

.mskLogo
{
    width: 68px;
    height: 96px;
    background-image: url("../Images/mskLogo.png");
    background-repeat: no-repeat;
    margin-left: 80px;
}
/*
.btnUp
{     
    width: 98px;
    height: 36px;
    background-image: url("../Images/btnUp.png");
    background-repeat: no-repeat;
    position:relative;
    top: -80px;
}*/

div.blue
{
    color: Blue;
}

div.red
{
    color: Red;
}


table.dgc th
{
    padding: 3px;
    padding-top: 20px;
    background-color: gray;
    text-align: left;
    padding-left: 5px;
    color: #004066;
    border: none;
    border-bottom: 1px solid #b2b2b2;
    font-size: 14px;
    font-weight: bold;
    color: Black;
}

table.dgc tr:nth-of-type(2n + 1)
{
    background: none repeat scroll 0 0 rgb(220, 220, 220);
}

table.dgc td {
    padding: 3px;
    font-size: 13px;
    border: none;
}

table.dgc td a img { border: none; }

table.dgc {
    border: none;
    width: 100%;
}

.mastertd
{
    background-color: rgb(31, 64, 112);
}

h1.mastertd
{
    color: white;
}


.gridpager, .gridpager td
{
    color: gray;
    background-color: RGB(40, 84, 147);
}

.gridpager a
{
    color: White;
}

.newgridpager td
{
    color: White;
    background-color: RGB(40, 84, 147);
}

.newgridpagerselected a
{
    color: Gray !important;
    background-color: RGB(40, 84, 147);
}

span.headerCaptions
{
    font-size: 18pt !important;
    text-decoration: underline;
}

td.breadcrumbs {
    background: white;
    border: 1px solid black;
    border-width: 0px 1px;
    text-align: left;
}

td.breadcrumbs a {
    color: Black;
    text-decoration: underline;
}

td.breadcrumbs a:hover {
    text-decoration: none;
}

div.EmptyClaimList
{
    background-color: thistle;
    height: 40px;
    padding-top: 20px;
}

.EmptyClaimListText
{
    color: red;
    font-size: 16px;
    
}

.selected
{
    color: White !important;
    background-color: RGB(70, 103, 161) !important;
}

td.RayonCell
{
    font-size: 20px;
    font-style: italic;
    cursor: pointer;
    background-color: powderblue;
}

td.AOCell
{
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.gridview-header th:hover
{
    background: url(../Images/sprite.png) repeat-x 0px 0px;
}

.gridview-header .sortascheader
{
    background: url(../Images/sprite.png) repeat-x 0px -100px;
}

.gridview-header .sortascheader a
{
    background: url(../Images/arrow-up.gif) no-repeat right 50%;
}

.gridview-header .sortdescheader
{
    background: url(../Images/sprite.png) repeat-x 0px -100px;
}

.gridview-header .sortdescheader a
{
    background: url(../Images/arrow-dn.gif) no-repeat right 50%;
}

.popupTop
{
    top: 0px !important;
}

.reportHeader td
{
    font-weight: bold;
}

.slidemenu
{
    font-size: 8.5pt;
    font-family: Tahoma;
    background-color: transparent;
    width: 180px;
    overflow: hidden !important;
}

.slidemenu .content
{
    overflow: hidden !important;
}

.slidemenu .header
{
    cursor: pointer;
    background-color: transparent;
    font-size: 11pt;
    vertical-align: middle;
}

.slidemenu .header div
{
    cursor: pointer;
    height: 50px;
    /*padding-left:40px;*/
    background-color: Transparent;
    background-position: center left;
    background-repeat: no-repeat;
}

.slidemenu .header span, .slidemenu .header a
{
    cursor: pointer;
    font-weight: bold;
    display: block;
    color: RGB(42, 71, 146);
    text-decoration: none;
    padding: 8px 0px 8px 25px;
}

.slidemenu .header:hover
{
    cursor: pointer;
    height: 50px;
    background-color: transparent;
    border-bottom: none;
}

.slidemenu ul
{
    margin: 0;
    padding: 2px;
    list-style-type: none;
}

.slidemenu li
{
    background-color: Transparent;
    background-repeat: no-repeat;
    background-position: left center;
    vertical-align: middle;
    padding: 0;
}

.slidemenu li div
{
    padding-left: 5px;
    color: #666666;
}

.slidemenu li a {
    color: #0095E6;
    font: bold 12px Sans-Serif;
    display: block;
    text-decoration: none;
}

.slidemenu li a {
    background: no-repeat;
    padding: 12px 0px 0px 45px;
    height: 28px
}

.slidemenu li a:hover { color: #e95400; }

.slidemenu li:hover
{
    /*text-decoration:underline;*/
}

td.ReportTable
{
    border-top: 1px solid black;
    border-left: 1px solid black;
}

td.ReportRowTop
{
    border-top: 2px solid black !important;
    border-left: 1px solid black;
}

tr.ReportRowTop
{
    border-top: 3px solid black !important;
}

table.ReportTable
{
    border: 1px solid black;
}

.Reporttdx
{
    width: 80px !important;
}

.DataGridFixedHeader
{
    background-color: white;
    position: relative;
    top: expression(t h i s . o f f s e t P a r e n t . s c r o l l T o p);
}