﻿/*@media screen and (max-width: 1280px) {
table.dgc th
    {
        padding:3px; 
        padding-top:3px; 
        background-color: gray;
        text-align:left; 
        padding-left:5px; 
        color:#004066; 
        border: none;
        border-bottom:1px solid #b2b2b2; 
        font-size:14px;
        font-weight:bold;
        color:Black;
    }
table.dgc tr:nth-of-type(2n+1)
    {
        background: none repeat scroll 0 0 rgb(220,220,220);
    }
    
    table.dgc td{padding:3px;font-size:13px; border: none;}
    table.dgc td a img{border:none;}
    
    table.dgc {border:none; width: 100%;}

}
*/
@media screen and (max-width: 1025px) {
table.dgc th
    {
        padding:3px; 
        padding-top:3px; 
        background-color: gray;
        text-align:left; 
        padding-left:5px; 
        color:#004066; 
        border: none;
        border-bottom:1px solid #b2b2b2; 
        font-size:11px;
        font-weight:bold;
        color:Black;
    }
table.dgc tr:nth-of-type(2n+1)
    {
        background: none repeat scroll 0 0 rgb(220,220,220);
    }
    
    table.dgc td{padding:3px;font-size:11px; border: none;}
    table.dgc td a img{border:none;}
    
    table.dgc {border:none; width: 100%;}

table.media_dgc td 
{
    padding:3px;font-size:13px; border: none;
}
div.inputXShort {
    width: 80px !important;
}
.inputXShort, .input, .inputShort
{
    width: 80px;
    font-size: 11px;
    height: auto;
}
}